* {
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  background: white !important;
  color: black !important;
}

.tabContent {
		position: absolute;
		float: right;
  top: 2.5%;
		width: 90%;
		left: 9%;
}

.buildPriorities, .otherObjectives {
  list-style-type: none;
}

.TechSkills{
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: center;
}

#pImg, #pDetail, #buttons-title, #pTitle, #vidTitle, #vidPlay{
  display: flex;
  justify-content: center;
}

#pDetail{
  margin-left: 40%;
  margin-right: 40%;
}

#pTitle, #vidTitle {
  margin-bottom: 2.5%;
  width: 250px;  
}

.arrow{
  scale: 150%;
  border: none;
  color: black;
  background: none;
}

#vidTitle{
  color: black;
}

#GitHub{
  margin-left: 1.25%;
  margin-right: 1.25%;
}

#copyright {
  scale: 75%;
  display: flex;
  position: fixed;
  bottom: 0.1%;
  left: 42.5%;
  right: 32.5%;
}

@media screen and (max-width: 768px) {
  .tabs {
    font-size: 80%;
    width: 15%;
    float: left;
  }
  .tabContent {
    width: 75%;
    margin-left: 7.55%;
    float: left;
    position: absolute;
  }
  #copyright{
    font-size: 85%;
  }
  #voArray{
    height:300px;
    width:400px;
		}
}

@media screen and (max-width: 480px) {
  .tabs{
    font-size: 80%;
    width: 17.5%;
    float: left;
    position: fixed;
  }
  .tabContent {
    width: 75%;
    margin-left: 10%;
    float: left;
    position: absolute;
  }
  #copyright{
    font-size: 62.5%;
  }
  #Contact{
    display: block;
  }
  .Icon
  {
  scale: 75%;
  }
  #voArray{
    height:180px;
    width:240px;
		}
}

@media screen and (max-width: 240px) {
  .tabs{
    font-size: 55%;
    width: 15%;
    float: left;
    position: fixed;
  }
  .tabContent {
    margin-right: 0 auto;
    font-size: 55%;
    left: 9%;
    width:80%;
  }
  #voArray{
    height: 135px;
    width: 180px;
  }
  .Icon {
    height: 25px;
    width: 25px;
  }
}